<% include ./partials/header.ejs %>

<script src="/javascripts/chat.js"></script>

<style>
.chat-container {
    padding-top: 100px;
}
.chat-form {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.online-user {
    background-color: #545b62;
    color: white;
}
.active {
    background-color: #007BFF;
}
</style>

<div class="chat-container">
    <div class="container">
        <h3>Chat</h3>
        <p class="d-none" id="chat-username"><%= username %></p>
        <hr>
        <div class="row">
            <div class="col-3">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Online<span id="online-no" class="badge badge-primary badge-pill float-right"></span></div>
                    <div class="card-body">
                        <ul id="online-users" class="list-group list-group-flush">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div id="chat-helper" class="alert alert-danger col-12" role="alert">Select user to message</div>
                    <h4 id="chat-header" class="col-12"></h4>
                    <ul id="msg-list" class="col-12 list-group"></ul>
                    <div class="col-12 mt-2">
                        <form action="" class="chat-form">
                            <div class="form-group row">
                                <input type="text" id="msg" class="col-12 col-md-10" placeholder="Type message..." autofocus disabled>
                                <button class="btn btn-primary offset-1 col-10 mt-3 col-md-1 ml-md-2">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

