<% include ./partials/header.ejs %>

<style>
  .row-content {
    margin: 0px auto;
    padding: 100px 0px 100px 0px;
    min-height: 150px;
  }
</style>

<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-12">
      <h1>
        Hi, <%= username %>
      </h1>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
      <div class="col-12 col-md-6">
          <a role="button" href="/chat" class="btn btn-dark btn-block">
              Chat
          </a>
      </div>
      <div class="col-12 col-md-6 mt-3 mt-md-0">
          <button class="btn btn-dark btn-block">
              Notes
          </button>
      </div>
  </div>
</div>