<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            Taco Cat
        </a>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">KVB App</h1>
        <p class="lead">Login to begin or register to get started</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 offset-md-4">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">Login</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-modal">Register</button>
        </div>
    </div>

    <div class="row">
        <div class="login-err-msg col-md-12" style="font-weight: bold;"></div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form action="/register" method="post" id="register-form">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="register-username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="register-password" placeholder="Password">
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="register-form">Register</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post" id="login-form">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="login-username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="login-password" placeholder="Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="login-form">Login</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% if (message) { %>
    <script>
        $('.login-err-msg').append("<br><div class='alert alert-danger week-info' role='alert'><%= message %> </div>");
    </script>
<% } %>

<script>
    $(document).ready(function() {
        $('#login-modal').on('shown.bs.modal', function() {
            $('#login-username').trigger('focus');
        });

        $('#register-modal').on('shown.bs.modal', function() {
            $('#register-username').trigger('focus');
        });
    });
</script>